.navigation {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background-color: rgb(253, 253, 253);
	border-bottom: 2px solid lightgrey;
	font-family: Lato;
	.logo-link {
		font-family: Merienda;
		font-weight: 900;
	}
}
